
<div *ngIf="funcionarioSelecionado">
  <h1> Funcionário selecionado: {{funcionarioSelecionado.nome}}</h1>
  <br>
  <button (click)="voltar()">Voltar</button>

  <form [formGroup]="funcionarioForm"  (submit)="funcionarioSubmit()">
    <div>
      <label for="nome">Nome do Funcionário</label>
      <input type="text" formControlName="nome" id="nome" class="Nome" >
    </div>
    <div>
      <label for="foto">Foto</label>
      <input type="text" formControlName="foto" id="foto" class="Foto" >
    </div>
    <div>
      <label for="rg">RG</label>
      <input type="text" formControlName="rg" id="rg" class="Rg" >
    </div>
    <div>
      <label for="departamentoId">ID do Departamento</label>
      <input type="text" formControlName="departamentoId" id="departamentoId" class="IDdoDepartamento" >
    </div>
    <div>
      <button class="btn-submit" [disabled]="!funcionarioForm.valid">Enviar</button>
    </div>



  </form>
</div>
<div *ngIf="!mostrarFormularioCadastro && !funcionarioSelecionado">
  <h1>{{ titulo }}</h1>
  <div class="tabela">
    <div class="add">
      <button class="btn-submit" (click)="funcionarioNovo()">Adicionar</button>
    </div>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Nome do Funcionário</th>
          <th>Foto</th>
          <th>RG</th>
          <th>ID do Departamento</th>
          <th>Opções</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let funcionario of funcionarios">
          <td>{{ funcionario.id }}</td>
          <td>{{ funcionario.nome }}</td>
          <td>
            <img [src]="funcionario.foto" alt="Foto do Funcionário">
          </td>
          <td>{{ funcionario.rg }}</td>
          <td>{{ funcionario.departamentoId }}</td>
          <td>
            <div class="btn-group">
              <button class="btn-detal" (click)="funcionarioSelect(funcionario)">Editar</button>
              <button class="btn-delete" (click)="excluir(funcionario.id)">Excluir</button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    </div>
</div>




<div *ngIf="mostrarFormularioCadastro">
  <h1>Cadastrar Novo Funcionário</h1>
  <br>
  <button (click)="voltar()">Voltar</button>

  <form [formGroup]="funcionarioForm"  (submit)="cadastrar()">
    <div>
      <label for="nome">Nome do Funcionário</label>
      <input type="text" formControlName="nome" id="nome" class="Nome" >
    </div>
    <div>
      <label for="foto">Foto</label>
      <input type="text" formControlName="foto" id="foto" class="Foto" >
    </div>
    <div>
      <label for="rg">RG</label>
      <input type="text" formControlName="rg" id="rg" class="Rg" >
    </div>
    <div>
      <label for="departamentoId">ID do Departamento</label>
      <input type="text" formControlName="departamentoId" id="departamentoId" class="IDdoDepartamento" >
    </div>
    <div>
      <button class="btn-submit" [disabled]="!funcionarioForm.valid">Enviar</button>
    </div>
