
<div *ngIf="funcionarioSelecionado">
  <h1> Funcionario selecionado: {{funcionarioSelecionado}}</h1>
  <br>
  <button (click)="voltar()">Voltar</button>

  <form>
    <div>
      <label for="">Nome</label>
      <input type="text" class="Nome" >
    </div>
    <div>
      <label for="">Id</label>
      <input type="text" class="Id" >
    </div>
    <div>
      <label for="">Foto</label>
      <input type="text" class="Foto" >
    </div>
    <div>
      <label for="">Rg</label>
      <input type="text" class="Rg" >
    </div>
    <div>
      <label for="">ID do Departamento</label>
      <input type="text" class="ID do Departamento" >
    </div>

  </form>
</div>
<div *ngIf="!funcionarioSelecionado">
  <h1>{{ titulo }}</h1>
  Nenhum Selecionado
  <div class="tabela">
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Nome do Funcionário</th>
          <th>Foto</th>
          <th>RG</th>
          <th>ID do Departamento</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let funcionario of funcionarios" (click)="funcionarioSelect(funcionario)">
          <td>{{ funcionario.id }}</td>
          <td>{{ funcionario.nome }}</td>
          <td>
            <img [src]="funcionario.foto" alt="Foto do Funcionário">
          </td>
          <td>{{ funcionario.rg }}</td>
          <td>{{ funcionario.departamentoId }}</td>
        </tr>
      </tbody>
    </table>
    </div>
</div>

