

<div *ngIf="departamentoSelecionado">
  <h1> Departamento selecionado: {{departamentoSelecionado.nome}}</h1>

  <button (click)="voltar()">Voltar</button>

  <form [formGroup]="departamentoForm"  (submit)="departamentoSubmit()">
    <div>
      <label for="nome">Nome</label>
      <input type="text" id="nome" formControlName="nome" class="Nome" >
    </div>
    <div>
      <label for="sigla">Sigla</label>
      <input type="text" id="sigla" formControlName="sigla" class="Sigla" >
    </div>

    <div>
      <button class="btn-submit" [disabled]="!departamentoForm.valid">Enviar</button>
    </div>

  </form>
</div>
<div *ngIf="!departamentoSelecionado">
  <h1>{{ titulo }}</h1>

  Nenhum Selecionado

  <div class="tabela">
    <div class="add">
      <button class="btn-submit">Adicionar</button>
    </div>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Nome do Departamento</th>
          <th>Sigla</th>
          <th>Opções</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let departamento of departamentos">
          <td>{{ departamento.id }}</td>
          <td>{{ departamento.nome }}</td>
          <td>{{ departamento.sigla }}</td>
          <td>
            <div class="btn-group">
              <button (click)="departamentoSelect(departamento)" class="btn-edit">Editar</button>
              <button class="btn-detal" (click)="openModal(func)">Funcionarios</button>
              <button class="btn-delete">Excluir</button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    </div>
</div>


<ng-template #func>
  <div class="modal-body">
   onde tem q estar o funcionario com o id
   onde tem q estar o funcionario com o id
   onde tem q estar o funcionario com o id
   onde tem q estar o funcionario com o id
   onde tem q estar o funcionario com o id
   onde tem q estar o funcionario com o id
   onde tem q estar o funcionario com o id
   onde tem q estar o funcionario com o id
   onde tem q estar o funcionario com o id
   onde tem q estar o funcionario com o id
   onde tem q estar o funcionario com o id
   onde tem q estar o funcionario com o id
   onde tem q estar o funcionario com o id
   onde tem q estar o funcionario com o id
   onde tem q estar o funcionario com o id
  </div>
  <div class="modal-footer">
    <button type="button" class="btn pull-right" aria-label="Close" (click)="modalRef?.hide()">
      Fechar
    </button>
  </div>
</ng-template>
