h1{
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 3rem;
  text-align: center;
}
div{
  text-align: left;
  font-size: 1.2rem;
  margin-left: 1rem;
  font-weight: bolder;
}
.tabela{
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}
table {
  width: 800px;
  border-collapse: collapse;
}

th{
  font-size: 1.5rem;
  border: 1px solid #3b3b3b;
  padding: 8px;
  text-align: center;
}
td{
  font-size: 1.2rem;
  border: 1px solid #3b3b3b;
  padding: 8px;
  text-align: center;
}

th {
  background-color: #f2f2f2;
}



button {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 20px;
  font-size: 1.2rem;
  background-color: #4668ff;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #3349ab;
}

form {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f8f8f8;
}


input {
  width: 100%;
  padding: 8px;
  margin: 5px 0;
  box-sizing: border-box;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
}

.btn-group {
  display: flex;
  gap: 10px;
  }


.btn-submit {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 20px;
  font-size: 1.2rem;
  background-color: #00d873;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}

.btn-submit:hover {
  background-color: #0f9763;
}
.btn-detal {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 20px;
  font-size: 1.2rem;
  background-color: #ffffff;
  color: #000;
  text-decoration: none;
  border-radius: 5px;
}

.btn-detal:hover {
  background-color: #000000;
  color: #fbfbfb;
}
.btn-edit {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 20px;
  font-size: 1.2rem;
  background-color: #0074e0;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}

.btn-edit:hover {
  background-color: #0057a8;
}
.btn-delete {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 20px;
  font-size: 1.2rem;
  background-color: #d80000;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}

.btn-delete:hover {
  background-color: #940000;
}
