h1{
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 3rem;
  text-align: center;
}
div{
  text-align: left;
  font-size: 1.2rem;
  margin-left: 1rem;
  font-weight: bolder;
}
.tabela{
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}
table {
  width: 800px;
  border-collapse: collapse;
}

th{
  font-size: 1.5rem;
  border: 1px solid #3b3b3b;
  padding: 8px;
  text-align: center;
}
td{
  font-size: 1.2rem;
  border: 1px solid #3b3b3b;
  padding: 8px;
  text-align: center;
}

th {
  background-color: #f2f2f2;
}
td:hover{
  background-color: #ebebeb;
  cursor: pointer;
}


button {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 20px;
  font-size: 1.2rem;
  background-color: #4668ff;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}

button:hover {
  background-color: #3349ab;
}
