header {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  top: 0px;
  border: 0.824709px solid #000000;
}

nav {
  width: 100%;
  background: #4668ff;
  height: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  font-weight: bolder;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

li {
  text-decoration: none;
  margin-right: 10rem;
  margin-left: 10rem;

}

a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  height: 60px;
  width: 300px;
  font-size: 2rem;
  color: #fbfbfb;
}

a:hover {
  color: #000000;
  background-color: #00BFFF;
  border-radius: 1rem;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

p{
  color: #fbfbfb;
}
