 <div class="tabela">

    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Nome</th>
          <th>Foto</th>
          <th>RG</th>
          <th>Departamento</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let funcionario of funcionariosDoDepartamento">
          <td>{{ funcionario.id }}</td>
          <td>{{ funcionario.nome }}</td>
          <td>
            <img [src]="funcionario.foto" alt="Foto do Funcionário">
          </td>
          <td>{{ funcionario.rg }}</td>
          <td>{{ funcionario.departamentoId }}</td>

        </tr>
      </tbody>
    </table>
    </div>
